In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
opportunities_original = pd.read_csv('Opportunity.csv', encoding = 'unicode_escape')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (2,18,21,23,24,25,52,79,96,104,106,126,132,134,138,139,141,149,152,153,154,155,156,157,159,160,161,163) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
opportunities = opportunities_original.copy()

In [4]:
opportunities.head()

,Account_Development_Rep__c,AccountId,Americas_Partner_Select__c,Amount,Amount_Billed_To_Date__c,Approved_Discount__c,Audit_Flag__c,Bill_To_Customer__c,Business_Issues__c,CampaignId,...,Total_Spigit_Subscriptions_old__c,Total_Subscriptions__c,TotalOpportunityQuantity,Type,Upgrade_Opportunity__c,Vendor_Set_up_Complete__c,What_Happened_Last__c,What_Happens_Next__c,What_is_major_risk__c,Who_signs_contracts__c
0,Rep 1,0011600001l4gN3AAI,NaN,50000.0,0,0,NaN,NaN,Not Started,701G0000000yx3VIAQ,...,25000.0,1,2.0,Pilot,Not Upgrade,NaN,Not Started,NaN,Not Started,Not Started
1,Rep 1,001G000001AwRnrIAF,NaN,50000.0,0,0,NaN,NaN,Not Started,701G0000000yx3VIAQ,...,25000.0,1,2.0,Pilot,Not Upgrade,NaN,Not Started,NaN,Not Started,Not Started
2,Rep 2,0011600001l52ZIAAY,NaN,25000.0,0,0,NaN,NaN,Not Started,70116000000z0icAAA,...,NaN,1,1.0,New Business,Not Upgrade,NaN,Not Started,NaN,Not Started,Not Started
3,NaN,001A000000BdFfbIAF,NaN,51500.0,0,0,NaN,NaN,Not Started,NaN,...,NaN,0,1.0,Upsell Business,Not Upgrade,NaN,2/20 SOW finalized and verbiage agreed to. No...,"Get SOW countersigned, and get PO from SoCo--e...",Not Started,Not Started
4,Rep 3,001G000001kpDrdIAE,NaN,50000.0,0,0,NaN,NaN,Not Started,NaN,...,NaN,1,2.0,Pilot,Not Upgrade,NaN,face to face meeting in Bracknell in Feb,NaN,Not Started,Not Started

In [5]:
print(opportunities.info())
print(opportunities.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4181 entries, 0 to 4180
Columns: 185 entries, Account_Development_Rep__c to Who_signs_contracts__c
dtypes: bool(12), float64(70), int64(12), object(91)
memory usage: 5.6+ MB
None
(4181, 185)

In [6]:
opportunities.describe()

,Amount,Amount_Billed_To_Date__c,Approved_Discount__c,Audit_Flag__c,CDR__c,CDT_Next_Step__c,CDT_Next_Step_Due_Date__c,CDT_Status__c,Credit_Card_CVV__c,Dataset_ID__c,...,Total_Connect_Seats__c,Total_Customer_Stories__c,Total_MindManager_Seats__c,Total_MSAs__c,Total_Spigit_Consulting__c,Total_Spigit_Consulting_old__c,Total_Spigit_Subscriptions__c,Total_Spigit_Subscriptions_old__c,Total_Subscriptions__c,TotalOpportunityQuantity
count,3.431000e+03,4.181000e+03,4181.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4181.000000,4181.000000,4181.000000,4181.000000,4.181000e+03,4.096000e+03,4181.000000,4.096000e+03,4181.000000,3429.000000
mean,7.756175e+04,1.197833e+03,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000239,0.000239,0.000239,0.004305,1.315622e+04,1.307207e+04,15336.683872,5.083470e+04,15.715618,21.914990
std,1.150384e+05,3.374742e+04,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.015465,0.015465,0.026789,0.075651,5.960927e+04,6.025119e+04,39295.569178,8.963283e+04,807.258956,895.432064
min,-1.585270e+05,0.000000e+00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,-1.000000,0.000000,-2.500000e+04,-2.500000e+04,-158527.000000,-1.585270e+05,-2.000000,-2.000000
25%,2.500000e+04,0.000000e+00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000
50%,5.000000e+04,0.000000e+00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,2.500000e+04,0.000000,1.000000
75%,8.500000e+04,0.000000e+00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,1.046000e+04,1.000000e+04,3900.000000,6.000000e+04,0.000000,2.000000
max,2.500000e+06,2.021100e+06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,2.000000,2.500000e+06,2.500000e+06,795000.000000,2.000000e+06,50000.000000,50001.000000

In [7]:
opportunities = opportunities[opportunities.IsClosed == True]
opportunities.IsClosed.head()

1     True
3     True
7     True
15    True
19    True
Name: IsClosed, dtype: bool

In [8]:
opportunities.IsClosed.tail()

4137    True
4142    True
4145    True
4153    True
4169    True
Name: IsClosed, dtype: bool

In [9]:
opportunities.shape

(3374, 185)

In [10]:
opportunities.columns.get_loc('IsWon')

64

In [ ]:
features_to_keep = []

In [41]:
X = opportunities.loc[:, opportunities.columns != 'IsWon']

In [42]:
y = opportunities['IsWon']

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [45]:
rf = RandomForestClassifier(n_estimators=10000, random_state=0)

In [46]:
rf.fit(X_train, y_train)

ValueError: could not convert string to float: 'Not Started'

In [47]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(random_state=0)
dtree.fit(X_train, y_train)

ValueError: could not convert string to float: 'Not Started'