In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [4]:
def churnToNumeric(x): 
    if x == 'No': 
        return 0
    if x == 'Yes':
        return 1

In [6]:
df['Churn_Num'] = df['Churn'].apply(churnToNumeric)

In [7]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Churn_Num
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1

In [8]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
Churn_Num           0
dtype: int64

In [9]:
corr = df.corr()

In [10]:
corr.style.background_gradient().set_precision(2)

## Analyse by describing data

##### Which features are available in dataset?

In [11]:
print(df.columns.values)

['customerID' 'gender' 'SeniorCitizen' 'Partner' 'Dependents' 'tenure'
 'PhoneService' 'MultipleLines' 'InternetService' 'OnlineSecurity'
 'OnlineBackup' 'DeviceProtection' 'TechSupport' 'StreamingTV'
 'StreamingMovies' 'Contract' 'PaperlessBilling' 'PaymentMethod'
 'MonthlyCharges' 'TotalCharges' 'Churn' 'Churn_Num']

#### Which features are categorical?
#### Which features are numerical?

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
Churn_Num           7043 non-null int64
dtypes: float64(1), int64(3), object(18)
memory usage: 1.2+ MB

#### What is the distribution of numerical feature values across the samples?

In [13]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges    Churn_Num
count    7043.000000  7043.000000     7043.000000  7043.000000
mean        0.162147    32.371149       64.761692     0.265370
std         0.368612    24.559481       30.090047     0.441561
min         0.000000     0.000000       18.250000     0.000000
25%         0.000000     9.000000       35.500000     0.000000
50%         0.000000    29.000000       70.350000     0.000000
75%         0.000000    55.000000       89.850000     1.000000
max         1.000000    72.000000      118.750000     1.000000

#### What is the distribution of categorical features?

In [14]:
df.describe(include=['O'])

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
count,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043
unique,7043,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,6531,2
top,1814-WFGVS,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,20.2,No
freq,1,3555,3641,4933,6361,3390,3096,3498,3088,3095,3473,2810,2785,3875,4171,2365,11,5174

## Analyze by pivoting features

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
Churn_Num           7043 non-null int64
dtypes: float64(1), int64(3), object(18)
memory usage: 1.2+ MB

In [16]:
df[['gender', 'Churn_Num']].groupby(['gender'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

   gender  Churn_Num
0  Female   0.269209
1    Male   0.261603

In [19]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

   SeniorCitizen  Churn_Num
1              1   0.416813
0              0   0.236062

In [20]:
df[['Partner', 'Churn_Num']].groupby(['Partner'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

  Partner  Churn_Num
0      No   0.329580
1     Yes   0.196649

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)

In [ ]:
df[['SeniorCitizen', 'Churn_Num']].groupby(['SeniorCitizen'], as_index=False).mean().sort_values(by='Churn_Num', ascending=False)